*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", sans-serif;
}

body{
    max-width: 100%;
    height: 2000px;
    background-size: cover;
    background-attachment: fixed;
}

/*stil za header- jesike, logo i meni*/
.header{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header .div1 {
    /*boja gde nam se nalazi nas logo*/
    background-color: #D9D9D9;
    justify-content: space-between;
    /*da mi centrira sve element na sredinu headera*/
    align-items: center;
    /*da nam rasiri na celu stranicu*/
    display: flex;
    height: 75px;
    /*ako stavim 1440px onda se ekran mora pomerti*/
    width: 100%;
    /*da na nam se ne bi lepili uz ivice ekrana*/
    padding: 0 5%;
    
}

.header .logo {
    height: 44.08px;
    width: 218.86px;
    top: 17px;
    left: 105px;
}

.header .div1 .jezici ul li {
    /*da  ne bude jedno ispod drugog vec lepo da bude jedan pored drugog*/
    display: inline-block; 
    margin-left: 20px;

}

.header ul {
    
}

.header .div1 .jezici ul li a {
    text-decoration: none;
    font-family: 'Roboto';
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.header .div1 .jezici ul li .active {
    text-decoration: none;
    color: #888787;
    font-weight: 400;
   /* width: 47px
    height: 18px
    top: 31px
    left: 1288.64px*/
    
}


/*meni*/

.header .navbar {
    display: contents;
    /*njihovo mi smeta kada stavim nece lepo na sredinu*/
    /*width: 1100px;
    height: 64px;
    top: 75px;
    left: 122px;*/
    /*da mi lepo ispise sve u redovima kako teba a ne da sece redove*/
    white-space: nowrap;
    

    
}

.header .navbar ul {
    
    display: flex;
    flex: 1;
    margin-left: 50px;
    margin-right: 50px;
    /*align-items: center;*/
   
}


.header .navbar ul li {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    list-style-type: none;
    text-align: center;
    
   
}
/*za font od menija za roditelja */
.header .navbar ul li h4 {
    font-family: 'Roboto Condensed';
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;

}
/*za font od menija  za dete*/
.header .navbar ul li p {
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;

}
/*za brend za je dr boje jer je kliknuto an to*/
.header .navbar ul  .brend {
    color: #888787;

}

/*lijija ispod menija*/

.header .levoLinija {
    width: 1348px;
    top: 137px;
    left: 646px;
    border: 1px;
    /*angle: -0 deg;*/

}

/*.header .desnoLinija {
    width: 680px;
    top: 137px;
    right: -11px;
    border: 1px;
    angle: -0 deg;


}*/









