* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", sans-serif;
}

body {
    max-width: 100%;
    height: 2000px;
    background-size: cover;
    background-attachment: fixed;
}

/*stil za header- jezike, logo i meni*/
.header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header .div1 {
    /*boja gde nam se nalazi nas logo*/
    background-color: #D9D9D9;
    justify-content: space-between;
    /*da mi centrira sve element na sredinu headera*/
    align-items: center;
    /*da nam rasiri na celu stranicu*/
    display: flex;
    height: 75px;
    /*ako stavim 1440px onda se ekran mora pomerti*/
    width: 100%;
    /*da na nam se ne bi lepili uz ivice ekrana*/
    padding: 0 5%;

}

.header .logo {
    height: 44.08px;
    width: 218.86px;
    top: 17px;
    left: 105px;
}

.header .div1 .jezici ul li {
    /*da  ne bude jedno ispod drugog vec lepo da bude jedan pored drugog*/
    display: inline-block;
    margin-left: 20px;

}

.header .div1 .jezici ul li a {
    /*text-decoration: none;*/
    font-family: 'Roboto';
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.header .div1 .jezici ul li .active {
    text-decoration: none;
    color: #888787;
    font-weight: 400;
    /* width: 47px
    height: 18px
    top: 31px
    left: 1288.64px*/

}


/*meni*/

.header .navbar {
    display: contents;
    /*njihovo mi smeta kada stavim nece lepo na sredinu*/
    /*width: 1100px;
    height: 64px;
    top: 75px;
    left: 122px;*/
    /*da mi lepo ispise sve u redovima kako teba a ne da sece redove*/
    white-space: nowrap;



}

.header .navbar ul {

    display: flex;
    flex: 1;
    margin-left: 50px;
    margin-right: 50px;
    /*align-items: center;*/

}


.header .navbar ul li {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    list-style-type: none;
    text-align: center;


}

/*za font od menija za velika slova */
.header .navbar ul li h4 {
    font-family: 'Roboto Condensed';
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;

}

/*za font od menija  za mala slova ispod velikih*/
.header .navbar ul li p {
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;

}

/*za brend za je dr boje jer je kliknuto an to*/
.header .navbar ul .brend {
    color: #888787;

}

/*lijija ispod menija*/

.header .levoLinija {
    width: 1348px;
    top: 137px;
    left: 646px;
    border: 1px;
    /*angle: -0 deg;*/

}

/*.header .desnoLinija {
    width: 680px;
    top: 137px;
    right: -11px;
    border: 1px;
    angle: -0 deg;


}*/

/*Prikaz slika kada kliknemo*/

.slideshow-container {

    max-width: auto;
    position: relative;
    margin: auto;
    background-color: #fff;
    /*width: 100%;
    height: 705px;
    top: 137px;
    padding: 673px, 16px, 8px, 16px;*/

}

.slideshow-container .strelica {
    position: absolute;
    width: 57px;
    height: 57px;
    top: 555px;
    left: 640px;
}

.slideshow-container .strelica:hover {
    cursor: pointer;

}

/*slika  naslov tekst dugme*/

main .divPosleSlajdova {
    /*background-color: white;*/
    display: flex;
    padding: 80px 0;
    /*razmak izmdju slike levo i desno*/
    gap: 2rem;
    position: relative;
    background: #F4F4F4;

}



main .divPosleSlajdova .textDesno {
    flex: 1;
    margin-right: 10rem;
    margin-left: 20px;

}

main .divPosleSlajdova .elementiGore .bigText {
    width: 272px;
    height: 50px;
    top: 500px;
    left: 765px;

    /*da odvojim od teksta */
    margin-top: 45px;

    font-family: 'Roboto';
    font-size: 42px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;

    color: #303030;

}

main .divPosleSlajdova .elementiGore .crvenaLinija {
    width: 137px;
    height: 6px;
    top: 1019px;
    left: 765px;

}

main .divPosleSlajdova .elementiGore .smallText {
    width: 506px;
    height: 68px;
    top: 1052px;
    left: 765px;

    font-family: 'Inter';
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;

    color: #474747;

    /*da odvojim od crvene linije*/
    margin-top: 40px;
}

main .divPosleSlajdova .elementiGore .sivaLinija {
    width: 524px;
    height: 3px;
    top: 1157px;
    left: 765px;

    /*background: #C4C4C466;*/

    /*da odvojim od smalltext */
    margin-top: 20px;
    margin-bottom: 55px;
}

main .divPosleSlajdova .elementiDole p {
    font-family: 'Roboto';

    width: 524px;
    height: 237px;
    top: 1214px;
    left: 765px;

    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

    color: #474747;
    /*glupi padding za izmejdu teksta i dugmeta #474747;*/
    margin-bottom: -60px;

}



main .divPosleSlajdova .elementiDole .btnOnama {

    width: 184px;
    height: 48px;
    /*display: inline-block;*/
    top: 1374px;
    left: 765px;
    /*da uvecamo test na btn*/
    font-size: medium;
    /*da na za obli dugme*/
    border-radius: 4px;
    gap: 8px;

    background: #BF0F0F;
    color: #fff;
    /*da skine crni okvir sa dugmeta*/
    border: 0;

}

main .parapllax .distribucijaSLika {
    width: 1348px;
    height: 502px;
    top: 1488px;
    padding: 0px, 422px, 0px, 422px;

    background: #31384078;


}

/*main .parapllax .distribucijaLinija:hover {
    width: 137px;
    height: 6px;
    top: 273px;
    left: 652px;

    position: relative;

}*/

main .triSlike {
    margin-top: 55px;
    margin-left: 30px;
    margin-right: 30px;
    gap: 25px;
    display: flex;
    /*da prebaci elemente  sl red ako ne staju u red*/
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: white;

}

main .triSlike .slika {

    /*If you want an image to scale down if it has to, 
    but never scale up to be larger than its original size,*/
    /*max-width: 100%;*/
    width: auto;
    height: auto;

}



main .triSlike p {
    margin-top: 10px;
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

}

/*naslov dvg i brojke i redline*/

.naslovDVG {


    text-align: center;
    margin-top: 150px;
    justify-content: center;
    align-items: center;

    background-color: #fff;

}

.naslovDVG .dvg {

    margin-bottom: 13px;
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;

    color: #303030;


}

.naslovDVG .brojke {

    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;

    color: #474747;
    margin-bottom: 20px;
}

.naslovDVG .redLineBrojke {
    margin-bottom: 80px;
}


/*statistika*/

.naslovDVG .redLineBackground{
    width: 100%;
}

.naslovDVG .statistikaBrojke {
    /*preko ovog mi ulazi tekst u sliku*/
    margin-top: -150px;
    /*align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;*/
    display: flex;
    justify-content: center;
    background-color: #fff;
    width: 100%;
    top: 2767px;
    left: -1px;

}

.naslovDVG .statistikaBrojke ul {
    display: flex;
    list-style-type: none;
    text-align: justify;
    white-space: pre-wrap;
    /*izmedju elementa pravi razmak*/
    letter-spacing: 7px;
    
}

.naslovDVG .statistikaBrojke .broj {
    margin-top: -100px;
    font-family: Inter;
    font-size: 46px;
    font-weight: 900;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;

    color:#fff;

}

.naslovDVG .statistikaBrojke p {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    /*da smanjim prostor izmmedju  brojeva i teksta ispod*/
    margin-top: -20px;

}

.naslovDVG .statistikaBrojke .statistikaLinija {
    margin-top: -80px;
    align-items: center;


}