* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: "Times New Roman", sans-serif;*/
}

body {
    max-width: 100%;
    height: 2000px;
    /*koristim je za parallax*/
    background-image: url('images/distribucijaParallax.jpg');
    background-size: cover;
    background-attachment: fixed;

    /*background-clip: content-box;*/
}

/*stil za header- jezike, logo i meni*/
.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: white;
}

.header .div1 {
    /*boja gde nam se nalazi nas logo*/
    background-color: #D9D9D9;
    justify-content: space-between;
    /*da mi centrira sve element na sredinu headera*/
    align-items: center;
    /*da nam rasiri na celu stranicu*/
    display: flex;
    height: 75px;
    /*ako stavim 1440px onda se ekran mora pomerti*/
    width: 100%;
    /*da na nam se ne bi lepili uz ivice ekrana*/
    padding: 0 5%;

}

.header .logo {
    height: 44.08px;
    width: 218.86px;
    top: 17px;
    left: 105px;
}

.header .div1 .jezici ul li {
    /*da  ne bude jedno ispod drugog vec lepo da bude jedan pored drugog*/
    display: inline-block;
    margin-left: 20px;

}

.header .div1 .jezici ul li a {
    /*text-decoration: none;*/
    font-family: 'Roboto';
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.header .div1 .jezici ul li .active {
    text-decoration: none;
    color: #888787;
    font-weight: 400;
    /* width: 47px
    height: 18px
    top: 31px
    left: 1288.64px*/

}


/*meni*/

.header .navbar {
    display: contents;
    /*njihovo mi smeta kada stavim nece lepo na sredinu*/
    /*width: 1100px;
    height: 64px;
    top: 75px;
    left: 122px;*/
    /*da mi lepo ispise sve u redovima kako teba a ne da sece redove*/
    white-space: nowrap;



}

.header .navbar ul {

    display: flex;
    flex: 1;
    margin-left: 50px;
    margin-right: 50px;
    /*align-items: center;*/

}


.header .navbar ul li {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    list-style-type: none;
    text-align: center;
    border: 0.5px solid #88878766;
    /*padding: 0.8rem;*/
    height: 62px;


}

/*za font od menija za velika slova */
.header .navbar ul li h4 {
    font-family: 'Roboto Condensed';
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;

}

/*za font od menija  za mala slova ispod velikih*/
.header .navbar ul li p {
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;

}

/*za brend za je dr boje jer je kliknuto an to*/
.header .navbar ul .brend {
    color: #888787;

}

/*lijija ispod menija*/

.header .levoLinija {
    width: 1348px;
    top: 137px;
    left: 646px;
    border: 1px;
    /*angle: -0 deg;*/

}


/*Prikaz slika kada kliknemo*/
/*swiper/slideshow za slike*/

.swiperBody {
    position: relative;
    background: white;
    width: 100%;
}

.swiperBody {

    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.mySwiper {
    background: white;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 640px;
    height: 480px;
    object-fit: cover;
}

.swiper-button-next svg,
.swiper-button-prev svg {
    color: white;
}

/*prosli kod za sliku sa tackicom*/

.slideshow-container {

    max-width: auto;
    position: relative;
    margin: auto;
    background-color: #fff;


}

.slideshow-container .strelica {
    position: absolute;
    width: 57px;
    height: 57px;
    top: 555px;
    left: 640px;
}

.slideshow-container .strelica:hover {
    cursor: pointer;

}

/*slika  naslov tekst dugme*/

.divPosleSlajdova {
    /*background-color: white;*/
    display: flex;
    padding: 80px 0;
    /*razmak izmdju slike levo i desno*/
    gap: 2rem;
    position: relative;
    background: #F4F4F4;

}

.divPosleSlajdova img {
    width: 710px;
    height: 504px;
    top: 915px;

}



.divPosleSlajdova .textDesno {
    flex: 1;
    margin-right: 10rem;
    margin-left: 20px;

}

.divPosleSlajdova .elementiGore .bigText {
    width: 272px;
    height: 50px;
    top: 500px;
    left: 765px;

    /*da odvojim od teksta */
    margin-top: 45px;

    font-family: 'Roboto';
    font-size: 42px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;

    color: #303030;

}

.divPosleSlajdova .elementiGore .bigText::after {
    content: '';
    display: block;
    background: #BF0F0F;
    width: 137px;
    height: 6px;
    top: 1019px;
    left: 765px;

    margin-top: 20px;

}

.divPosleSlajdova .elementiGore .smallText {
    width: 506px;
    height: 68px;
    top: 1052px;
    left: 765px;

    font-family: 'Inter';
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;

    color: #474747;

    /*da odvojim od crvene linije*/
    margin-top: 40px;
}

.divPosleSlajdova .elementiGore .smallText::after {
    content: '';
    display: block;
    background: #C4C4C466;
    width: 524px;
    height: 3px;
    top: 1157px;
    left: 765px;
    margin-top: 35px;
    margin-bottom: 55px;
}

.elementiDole {
    margin-top: 100px;
}


.divPosleSlajdova .elementiDole p {
    font-family: 'Roboto';

    width: 524px;
    height: 237px;
    top: 1214px;
    left: 765px;

    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

    color: #474747;
    /*glupi padding za izmejdu teksta i dugmeta #474747;*/
    margin-bottom: -80px;

}



.divPosleSlajdova .elementiDole .btnOnama {

    width: 184px;
    height: 48px;
    /*display: inline-block;*/
    top: 1374px;
    left: 765px;
    /*da uvecamo test na btn*/
    font-size: medium;
    /*da na za obli dugme*/
    border-radius: 4px;
    gap: 8px;

    background: #BF0F0F;
    color: #fff;
    /*da skine crni okvir sa dugmeta*/
    border: 0;

}

/*pre nego sto sam implementirala parapllax ovakav je kod bio samo prikaz slike*/

/*main .parapllax .distribucijaSLika {
    width: 1348px;
    height: 502px;
    top: 1488px;
    padding: 0px, 422px, 0px, 422px;

    background: #31384078;


}*/

/* Parallax - slika je body divovi beli */
.parallax-container {
    position: relative;
    height: 350px;
    /* Podesite visinu prema vašim potrebama */
    overflow: hidden;
    text-align: center;
}

.parallax-image {
    width: 100%;
    height: 500px;
}

.parallax-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.parallax-content h1 {
    font-size: 32px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.325em;
    margin-top: 60px;
}

.parallax-content h1::after {
    content: '';
    display: flex;


    width: 137px;
    height: 6px;
    top: 273px;
    left: 652px;
    right: 50px;
    align-items: center;

    margin-top: 15px;
    margin-left: 225px;


    background-color: #BF0F0F;
}

.parallax-content p {
    font-size: 18px;
}

/*main .parapllax .distribucijaLinija:hover {
    width: 137px;
    height: 6px;
    top: 273px;
    left: 652px;

    position: relative;

}*/

.triSlike {
    margin-top: 55px;
    /*margin-left: 30px;*/
    /*margin-right: 30px;*/
    gap: 25px;
    display: flex;
    /*da prebaci elemente  sl red ako ne staju u red*/
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-bottom: 130px;

}

.triSlike .slika {

    /*If you want an image to scale down if it has to, 
    but never scale up to be larger than its original size,*/
    /*max-width: 100%;*/
    width: auto;
    height: auto;
    background: white;
    margin-top: 65px;
    position: relative;

}



.triSlike p {
    margin-top: 10px;
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

}

.triSlike p::after {

    content: '';
    display: block;

    width: 50px;
    height: 2px;
    top: 2401px;
    left: 104px;
    margin-top: 10px;
    background-color: #BF0F0F;

}

/*.triSlike .slika::before {
    position: absolute;
    content: '';
    display: block;
    width: 401px;
    height: 12px;
    top: 2330px;
    left: 935px;
    margin-bottom: 100px;


    background-color: #BF0F0F;


}*/

/* .triSlike .slika:nth-child(3)::before {
    position: absolute;
    content: '';
    display: block;
    width: 100%; 
    height: 100%; 
    left: 0;
    background-image: url('./images/Rectangle3.png');
    background-color: #BF0F0F;  
} */

/*naslov dvg i brojke i redline*/

.naslovDVG {


    text-align: center;
    /*margin-top: 150px;*/
    justify-content: center;
    align-items: center;

    background-color: #fff;

}

.naslovDVG .dvg {

    margin-bottom: 13px;
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;

    color: #303030;


}

.naslovDVG .brojke {

    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;

    color: #474747;
    margin-bottom: 70px;
}

.naslovDVG .brojke::after {
    content: '';
    display: block;
    background: #BF0F0F;

    width: 137px;
    height: 6px;
    top: 2668px;
    left: 650px;
    margin-left: 605px;
    margin-top: 20px;


}

/*statistika*/

.naslovDVG .redLineBackground {
    width: 100%;
}

.naslovDVG .statistikaBrojke {
    /*preko ovog mi ulazi tekst u sliku*/
    margin-top: -150px;
    /*align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;*/
    display: flex;
    justify-content: center;
    background-color: #fff;
    width: 100%;
    top: 2767px;
    left: -1px;

}

.naslovDVG .statistikaBrojke ul {
    display: flex;
    list-style-type: none;
    text-align: justify;
    white-space: pre-wrap;
    /*izmedju elementa pravi razmak*/
    letter-spacing: 7px;

}

.naslovDVG .statistikaBrojke .broj {
    margin-top: -100px;
    font-family: Inter;
    font-size: 46px;
    font-weight: 900;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;

    color: #fff;

}

.naslovDVG .statistikaBrojke p {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    /*da smanjim prostor izmmedju  brojeva i teksta ispod*/
    margin-top: -20px;

}



/*naslov proizvoda i slike prizvoda i tekst*/

.tekstIProizvodi {
    background: #F4F4F4;
    display: flex;

    align-items: center;
    flex-direction: column;
    /*margin-top: 70px;*/
    padding: 70px;
    /*ovde sam stavila onaj logo sa leve strane kod slika proizvoda*/

    background-image: url('images/logoKodProizvoda.png');
    background-size: auto;
    /* Očuvaće prirodnu veličinu slike */
    background-position: left bottom;
    /* Postavlja poziciju slike u levom donjem uglu */
    /*background-position: left calc(100%  - 120px); /* Pomeranje slike 10 piksela od dna */
    background-repeat: no-repeat;


}

.tekstIProizvodi .textNasiProizvodi {
    text-align: center;
    margin-top: 70px;
    font-family: Inter;
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;

}

.tekstIProizvodi .sivalinijaProizvodi {
    margin-top: 40px;
    color: #C4C4C466;
    width: 524px;
    height: 3px;
    margin-bottom: 50px;


}

.tekstIProizvodi .textOkvalitetu {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    /*ovde sam rekla da tekst moze smao na toliko da se rasiri */
    width: 524px;
    height: 67px;

}

/*Slider za slike proizvoda*/

.container {
    /*velicina slajda*/
    max-width: 1000px;
    /*da koliko ce se prikazati u jednom slajdu slika*/
    width: 52%;
    margin-top: 50px;
    margin-left: 10px;

}

.slider-wrapper {
    position: relative;

}

.slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 40px;
    width: 40px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: grey;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
    background: #404040;
}

.slider-wrapper .slide-button#prev-slide {
    left: -25px;
    display: none;
}

.slider-wrapper .slide-button#next-slide {
    right: -25px;
}


/*slike*/
.slider-wrapper .image-list {
    height: 325px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 15px;
    font-size: 0;
    list-style: none;
    /* kolok da bude odaljena linija da bi slatao*/
    margin-bottom: 20px;
    overflow-x: auto;
    scrollbar-width: none;
}

.slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
}

.slider-wrapper .image-list .image-item {
    /*content: "";*/
    /*width: 52.73px;*/
    /*height: 2px;*/
    /*top: 304px;*/
    /*left: 524.47px;*/
    /*background: #BF0F0F;
    display: block;
    justify-content: right;*/
    position: relative;
    width: 250px;
    height: 400px;
    object-fit: cover;
}

/*za after i linije da se pokaze*/
.tekst-kartice::after {
    content: '';
    display: block;

    width: 52.73px;
    height: 2px;
    top: 500px;
    left: 524.47px;

    margin-top: 10px;


    background-color: #BF0F0F;
}

.tekst-kartice {

    position: absolute;
    top: 40%;
    /* Postavlja tekst na sredinu slike po vertikali */
    left: 50%;
    /* Postavlja tekst na sredinu slike po horizontali */
    transform: translate(-55%, 260%);
    /* Centrira tekst u odnosu na sredinu slike */
    color: #474747;

    /*padding: - 15px;*/
    width: 75%;
    /* Prilagodite širinu teksta prema potrebama */
    text-align: center;

    font-family: 'Roboto';
    font-size: 21px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

}

/*za after i linije da se pokaze*/
.tekst-karticeDuze::after {
    content: '';
    display: block;

    width: 52.73px;
    height: 2px;
    top: 500px;
    left: 524.47px;

    margin-top: 10px;
    margin-bottom: -10px;


    background-color: #BF0F0F;
}

.tekst-karticeDuze {

    position: absolute;
    top: 30%;
    /* Postavlja tekst na sredinu slike po vertikali */
    left: 40%;
    /* Postavlja tekst na sredinu slike po horizontali */
    transform: translate(-55%, 260%);
    /* Centrira tekst u odnosu na sredinu slike */
    color: #474747;

    /*padding: - 15px;*/
    width: 60%;
    /* Prilagodite širinu teksta prema potrebama */
    text-align: center;

    font-family: 'Roboto';
    font-size: 21px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;


}


/*slider*/
.container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
}

.slider-scrollbar:hover .scrollbar-track {
    height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: #000;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
}

.slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

/* Styles for mobile and tablets */
/* @media only screen and (max-width: 1023px) {
    .slider-wrapper .slide-button {
      display: none !important;
    }
    .slider-wrapper .image-list {
      gap: 10px;
      margin-bottom: 15px;
      scroll-snap-type: x mandatory;
    }
    .slider-wrapper .image-list .image-item {
      width: 280px;
      height: 380px;
    }
    .slider-scrollbar .scrollbar-thumb {
      width: 20%;
    }*/

.tekstIProizvodi .logoKodProizvoda {
    align-content: left;
}



/*Brendovi i slike sa dugmetom*/

.zadnjiDivSaBrendovima {
    /*margin-top: 80px;*/
    display: flex;
    background-color: #fff;
    flex-direction: column;
    align-items: center;

}

.tekstiznadBrendova {

    padding-top: 70px;
    font-family: Inter;
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    width: 506px;

    height: 68px;
    top: 3994px;
    left: 466px;
    color: #474747;

}

.tekstiznadBrendova::after {
    /*da naprvaimo nasu sivu liniju*/

    content: "";
    display: block;

    background: #C4C4C466;

    align-items: center;
    width: 524px;
    height: 3px;
    left: 457.5px;
    margin-top: 10%;

}

/*izgled slika brendova*/
.brendoviSlike {

    display: flex;
    align-items: center;

    width: Hug (1, 060px);
    height: Hug (161px);

    margin-top: 11%;
    top: 4146px;
    left: 190px;
    gap: 74px;

}

.brend {
    width: 100%;
}

.brend p {
    /*nece da stoji lepo kada dodam width i height*/
    /* width: 44px;*/
    /*height: 34px;*/

    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    color: #474747;
}


.btn {
    margin-top: 6%;

    width: Hug (255px);
    height: 50px;
    top: 4382px;
    left: 590px;
    padding: 0px 16px 0px 16px;
    border-radius: 4px;
    gap: 8px;
    background: #BF0F0F;
    border: 2px;
    align-items: center;
    margin-bottom: 8%;

}

.btn p {

    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    color: #FFFFFF;

}

/*footer*/

/*nije klasa pa ne mora da se poziva sa . jer je konkretan element*/
footer {
    /*za odvavanje od dugmeta*/
    /*margin-top: 2rem;*/
    display: flex;
    background-image: url("images/footerSLika.png");
    background-size: cover;
    flex-direction: column;
    list-style-type: none;
    width: 100%;

}

footer .footerGore {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

footer .footerDole {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    bottom: 0;
    color: gray;
    background-color: rgba(0, 0, 0, 0.33);
    /*text-decoration: underline;*/
}

footer .footerGore .prviDivlogo {
    margin-top: 15px;
    padding-top: 20px;
}

footer .drugiDivKontakt,
footer .treciDivSadrzaj,
footer .cetvrtiDivPracenje {
    position: relative;
    /* Postavljanje relativnog položaja za ove elemente */
}

footer .drugiDivKontakt::before,
footer .treciDivSadrzaj::before,
footer .cetvrtiDivPracenje::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 1px;
    /* Širina sive linije */
    background: rgba(255, 255, 255, 0.25);
    /* Boja sive linije */
    border: 1px;
}


footer .drugiDivKontakt {
    color: #F4F4F4;
    padding-left: 40px;
    align-items: center;
}

footer .drugiDivKontakt .naslov {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
}

.drugiDivKontakt .tekst {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

}

.drugiDivKontakt .adresa,
.email,
.telefon {
    display: flex;
    /*flex-direction: column;*/
    padding-top: 35px;
    align-content: center;

}

.divPodaci .tekst {
    padding-left: 15px;
}

.email,
.telefon {
    text-decoration: underline;
}

.adresa .tekst {
    /*word-wrap: break-word;*/
    /*overflow-wrap: break-word;*/
    width: 200px !important;

    /*lokacija se uveca*/
}

footer .treciDivSadrzaj {
    color: #F4F4F4;
    /*text-transform: uppercase;*/
    padding-left: 15px;

}

footer .treciDivSadrzaj ul li {
    /*ovo nam stoji da bi iskljucilo one tackice koje se stvaraju kada je lista*/
    list-style-type: none;

    font-family: 'Roboto Condensed';
    font-size: 16px;
    font-weight: 40;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;

}



footer .cetvrtiDivPracenje {
    color: #F4F4F4;
    padding-left: 15px;
    padding-right: 100px;

}

.cetvrtiDivPracenje .naslov {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;

    width: 71px;
    height: 26px;
    /*background: #FFFFFF;*/

}

.cetvrtiDivPracenje .drustveneMrezeIkone {
    letter-spacing: 6px;
    padding-top: 10px;
}


footer .footerDole .copyText {

    text-decoration: none;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;

    margin-left: 40px;

}

footer .footerDole .privatnost {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: right;

    width: 125px;
    height: 19px;
    top: 339px;
    left: 685px;

    text-decoration: underline;
    margin-left: 20px;



}

footer .footerDole .uslovi {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: right;
    text-decoration: underline;
    margin-right: 175px;

}

footer .footerDole .powered {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: left;
    text-decoration: none;
    /*da ga priblizim elementu Studio Present*/
    margin-right: -70px;

}

footer .footerDole .studio {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: right;
    text-decoration: underline;
    color: #FFFFFF80;


}